.linkma {
  text-decoration: none;
  color: azure;
}

.linkma:hover {
  color: azure;
}

.nutchung {
  border-radius: 30px;
  color: azure;
}

.nutchung:hover {
  background-color: rgb(57, 220, 20);
  border: 3px solid rgb(57, 220, 20);
  color: azure;
}

/* nút giỏ hàng */
.nutgiohang {
  padding: 5px;
  font-size: 23px;
  color: rgb(234, 209, 48);
  float: right;
  font-size: 30px;
}

.nutgiohang:hover {
  background-color: rgb(234, 209, 48);
  color: azure;
  border-radius: 100%;
  padding: 5px 10px;
}

